{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-jsdoc",
    "prettier-plugin-sh",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ]
}
